<main>
  <h2>Login</h2>
  <form id="login-form" method="POST">
    <div>
      <label for="username-login">Username:</label>
      <input type="text" id="username-login" name="username">
    </div>
    <div>
      <label for="password-login">Password:</label>
      <input type="password" id="password-login" name="password">
    </div>
    <button type="submit">Login</button>
  </form>
  <a href="/signup">Don't have an account? Sign up here</a>
</main>
<script src="/js/login.js"></script>
