<section>
  <article class="post">
    <div class="post-header">
      <h2>Sign up</h2>
    </div>
    <form class="form-wrapper">
      <label for="username">Username</label>
      <input
        class="login-options"
        type="text"
        id="username"
        name="username"
      /><br /><br />
      <label for="password">Password</label>
      <input
        class="login-options"
        type="text"
        id="password"
        name="password"
      /><br /><br />
      <input class="login-options" type="submit" value="Submit" />
    </form>
  </article>
</section>

